<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ content_for_head }}
</head>
<body>
  <aside id="sidebar">
    <a href="{{ '/' | relative_url }}" class="button">Home</a>
    <a href="{{ '/teaching/' | relative_url }}" class="button">Teaching</a>
    <a href="{{ '/projects/' | relative_url }}" class="button">Projects</a>
    <a href="{{ '/cv' | relative_url }}">CV</a>
    <a href="{{ '/freelance/' | relative_url }}" class="button">freelance Writing</a>
  </aside>

  <main>
    {{ content }}
  </main>
</body>
</html>
